#secuencia{
    width: 100%;
    max-width:60%;
     font-size: 18px;
     text-align: left;
     font-family: 'Chewy', cursive;
     border-radius: 85px;
     box-shadow: inset 15px 12px 12 px 5px rgba(108, 198, 226, 0.247), inset -4px -2px -8px, rgba(6, 86, 106, 0.959);
     box-align:center;
     padding: 5px;
     margin-top: 5px;
     margin-left: 5px;
     border: 7px solid rgba(82, 3, 16, 0.877);
     background: rgba(126, 196, 236, 0.802);
}
#hoja {
    align-content:center;
    width: 900px;
    font:200px;
    background-color:  rgba(28, 111, 236, 0.26);
    font-family: 'Comic Sans serif','Courier New', Courier, monospace;
    -moz-box-pack: rgba(35, 79, 200, 0.295);
background: linear-gradient(to bottom, rgba(10, 54, 200, 0.705), rgba(157, 203, 233, 0.829));
background-image: linear-gradient(to bottom, rgba(10, 52, 129, 0.507), #5a9ecb 60%, rgba(42, 133, 133, 0.527),0.5);
-moz-box-shadow: 6px 8px 6px #999;
box-shadow: 7px 5px 3px #060;
-webkit-box-shadow: 5px 6px 4px rgba(105, 179, 240, 0.822);
    margin-left: 25px;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 20px;
    border: 7px solid ;
    border-color: blue;
    border-radius : 50px;
    border-bottom-left-radius: 25px;
   
    text-align: left;
}
.texto{
    font-size: 10px;
    padding: 5px;
    margin: 10px;
}
.textotitulos{
    font-size: 30px;
    padding: 5px;
    margin: 20px;
    text-align: center;
}